<h1> Search by item Name </h1>

<%= form_with url: items_path, method: :get do |p| %>

  <h3><%= p.label "What are you looking for? " %><%= p.text_field :name %></h3>
  <h3><%= p.submit "Search" %></h3>
<% end %> 







 