<h1>Search by Quantity</h1>

<%= form_with url: inventories_path, method: :get do |p| %>
  <%= p.text_field :quantity %>
  <%= p.submit "Search" %>
<% end %><br/><br/>

<%= render(partial: 'inventories', locals: {inventories: @inventories}) %>