<h1> Good Day! <%= current_owner.fname %></h1>
<h3>Below is all of the owner's items & inventory.</h3><br/>
 <% @items.each do |item| %>
  <h2 class="center"><%= link_to(item.name, item_path(item)) %></> </h3>
    <h4 class="center"><% item.inventories.each do |q| %>
    <%= q.quantity %> <%= q.unit %></h4>
    <% end %>
 
<% end %>
  